.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.casegen {
    width: 48%;
}

.info-bar {
    width: 48%;
}

.option-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.by-two {
    width: 48%;
}