<ul class="list-group">
    <li class="list-group-item">dashboard</li>
  <li class="list-group-item">Create Message</li>
  <li class="list-group-item">replies</li>
  <li class="list-group-item">applicants</li>
  <li class="list-group-item">reports</li>
  <li class="list-group-item">setting v</li>
  <li class="list-group-item">applicant status</li>
  <li class="list-group-item"> principals</li>
  <li class="list-group-item">agents</li>
  <li class="list-group-item">countries</li>
  <li class="list-group-item">report cate</li> 
  <li class="list-group-item">user types</li>
</ul>

