<mat-list role="list">
  <mat-list-item role="listitem">
    <a routerLink="/dashboard">
      <i class="material-icons">
        dashboard
      </i>
      dashboard
    </a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a routerLink="/fbuser">
      <i class="material-icons">
        face
      </i>
      Facebook User
    </a>
  </mat-list-item>
  <mat-list-item role="listitem"  style="display:none">
    <a routerLink="/verify">
      <i class="material-icons">
        info
      </i>
      Hit Messages
    </a>
  </mat-list-item>
  
  <mat-list-item role="listitem" style="display:none">
    <a routerLink="/replies">
      <i class="material-icons">
        forum
      </i>
      replies
    </a>
  </mat-list-item>
  
  
  <mat-list-item role="listitem">
    <a routerLink="/casegen">
      <i class="material-icons">
        folder_open
      </i>
      Create Message
    </a>
  </mat-list-item>
  
  
  
  <mat-list-item role="listitem">
    <a href="https://devinehealthmedical.com/msg/track-and-trace/public_html/admin/people">
      <i class="material-icons">
        people
      </i>
      applicants
    </a>
  </mat-list-item>
  <mat-list-item role="listitem" class="link-blue">
    <i class="material-icons">
      post_add
    </i>
    reports
  </mat-list-item>
  <div class="sub-list">
    <a routerLink="/reports">
      <mat-list-item class="link-blue"> Open </mat-list-item>
    </a>
    <a routerLink="/reports-closed">
      <mat-list-item class="link-blue"> Close </mat-list-item>
    </a>
  </div>
  <mat-list-item role="listitem">
    <a href="https://devinehealthmedical.com/msg/track-and-trace/public_html/admin/applicant-statuses">
      <i class="material-icons">
        streetview
      </i>
      applicant status
    </a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a href="https://devinehealthmedical.com/msg/track-and-trace/public_html/admin/principals">
      <i class="material-icons">
        nature_people
      </i>
      principals
    </a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a href="https://devinehealthmedical.com/msg/track-and-trace/public_html/admin/agents">
      <i class="material-icons">
        contacts
      </i>
      agents
    </a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a href="https://devinehealthmedical.com/msg/track-and-trace/public_html/admin/countries">
      <i class="material-icons">
        location_city
      </i>
      countries
    </a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a routerLink="/categories">
      <i class="material-icons">
        file_copy
      </i>
      report categories 
    </a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a href="https://devinehealthmedical.com/msg/track-and-trace/public_html/admin/user-types">
      <i class="material-icons">
        sports_kabaddi
      </i>
      user types
    </a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a href="https://devinehealthmedical.com/fbuser.php"
      target="_blank">
      <i class="material-icons">
        account_tree
      </i>
      user reports
    </a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a href="https://devinehealthmedical.com/msg/track-and-trace/public_html/upload-csv"
      target="_blank">
      <i class="material-icons">
        grid_on
      </i>
      import CSV
    </a>
  </mat-list-item>
</mat-list>
